html.dark-mode{
    background-color: var(--clr-dark900);
}

.wrapperBackgroundColor{
    @include dark-mode{
        background-color: var(--clr-dark900);
    }
}

h1, h2, h3, h4, h5, h6, .p-logo, .store-btn, i, p.author, label, input{
    @include dark-mode {
        color: var(--clr-white);
    }
}

.hamburger .bar{
    @include dark-mode {
        background-color: var(--clr-white);
    }
}

p, .upperWrapper ul li{
    @include dark-mode{
        color: var(--clr-white-high-opacity);
    }
}

.navbar.nav-link{
    @include dark-mode{
        color: var(--clr-gray300);
        &.active{
            color: var(--clr-primary);
        }
    }
}

button.circle-btn,
.img-container-features img{
    @include dark-mode{
        background-color: var(--clr-white-opacity);
    }
}

.discover-btn-container .circle-btn i{
    @include dark-mode{
        color: var(--clr-white);
    }
}

.discover-more-text{
    @include dark-mode{
        color: var(--clr-white-high-opacity);
    }
}

.logo-container{
    @include dark-mode{
        border: 1px solid var(--clr-white-opacity);
    }
}

article.testimonials,
.slider,
.subscribe-section{
    @include dark-mode{
        background-color: var(--clr-white-opacity);
    }
}

.circle-icon-container,
.testimonial{
    @include dark-mode{
        background-color: var(--clr-white-low-opacity);
    }
}

.FAQ-item{
    @include dark-mode {
        background-color: var(--clr-white-low-opacity);  
    }
}

.FAQ-item.expanded{ 
    @include dark-mode{
        .dropdown-btn i{
            background-color: var(--clr-primary);
        }
    }
}

.dropdown-btn-container{
    @include dark-mode {
        .dropdown-btn {
            span {
                color: var(--clr-white);
            }
            i {
                background-color: var(--clr-white-low-opacity);
            }
        }
    }
}

.contact-container{
    @include dark-mode{
        @include desktop{
            border: 1px solid var(--clr-white-opacity);
        }
    }
}

.subscribe-form {
    @include dark-mode{
        border: none;
        
        @include desktop {
            border: 1px solid var(--clr-white-opacity);
            background-color: var(--clr-white-opacity);
        }
    }
}

#email {
    @include desktop {
        @include dark-mode {
            background-color: transparent;
        }
    }
}

.store-btn{
    @include dark-mode{
        background-color: var(--clr-white);
    }
}

.wrapper{
    @include dark-mode{
        background-color: var(--clr-dark800);
    }
}

.consultation-form-container, .discoverExpanded{
    @include dark-mode{
        background-color: var(--clr-dark850);
    }
}

.consultation-form-container{
    @include dark-mode{
        input{
            background-color: transparent;
            border: 1px solid var(--clr-white-opacity);
        }
    }
}

.custom-select-container{
    @include dark-mode{
        .custom-select__control{
            background-color: transparent;
            border: 1px solid var(--clr-white-opacity);
        }
        .custom-select__menu {
            background-color: var(--clr-dark850);
            border-color: var(--clr-white-high-opacity);
        }
        .custom-select__option{
            color: var(--clr-white);
            background-color: transparent;
        }
        .custom-select__option--is-focused {
            background-color: darken($dark850, 4%);
            color: var(--clr-white);
        }
        
        .custom-select__option--is-selected {
            background-color: darken($dark850, 2%);
            color: var(--clr-white);
        }
        .custom-select__single-value {
            color: var(--clr-white);
        }
    }
}

.externalLinksContainer{
    @include dark-mode{
        a{
            background-color: var(--clr-white-opacity);
            i{
                color:var(--clr-white-high-opacity);
            }
        }
    }
}