.error-message{
    color: var(--clr-system-error);
    font-size: 12px;
}

.errorPlaceholder{
    margin-bottom: 17px;
}

.subscribe-form{
    background-color: var(--clr-white);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--clr-gray300);
    border-radius: 10px;
    width: 100%;
    max-width: 400px; 

    label{
        margin: 0 0.5rem;
        user-select: none;

        @include mobile{
            border: none;
            max-width: 200px;
        }
        
        i{
            margin-left: 0.8rem;
            
            @include tablet-desktop{
                margin-left: 0.5rem;
            }

            @include desktop{
                margin-left: 0.5rem;
            }
        }
    }

    input{
        margin: 0 0.5rem;
        border: none;
        outline: none;
        overflow: hidden;
        font-size: 14px;

        @include desktop{
            min-width: 270px;
        }
    }
}

label i.fa-envelope{
    color: var(--clr-gray600);
}

.messageBox{
    @include flex-column;
    align-items: center;
    text-align: center;
    gap: 1rem;

    button{
        width: 25%;
    }
}

.consultation-form-container{
    @include flex-column;
    @include center;
    background-color: var(--clr-white);
    padding: 2rem 0;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    
    @include mobile{
        min-width: 100vw;
    }
    
    @include tablet-desktop{
        transform: translateY(50px);
        grid-column: 2 / 3;
        grid-row: 2 / 4;
        padding: 5rem 3rem;
    }

    h2{
        display: flex;
        font-size: 2rem;

        @include mobile{
            text-align: center
        }
    }

    form{
        @include flex-column;
        
        @include mobile{
            width: 80%;
        }

        @include tablet-desktop{
            width: 100%;
        }

        label{
            font-weight: 600;
            font-size: 1.2em;
            margin-top: 2rem;
            margin-bottom: 0.5rem;
        }
        input{
            font-size: 1.3rem;
            padding: 0.7rem;
            border: 1px solid var(--clr-gray400);
            border-radius: 8px;
            outline: none;
            &:focus,
            &:active {
                border-color: var(--clr-gray700);
            }
        }
        .custom-select-container {
            width: 100%;
        }
        
        .custom-select__control {
            background-color: white;
            border: 1px solid var(--clr-gray400);
            min-height: 53px;
            border-radius: 8px;
            font-family: "Manrope", sans-serif;
            font-size: 1.2rem;
            &:focus,
            &:active {
                border-color: var(--clr-gray700);
            }
        }

        .custom-select__control--is-focused {
            border: 1px solid var(--clr-gray400);
            box-shadow: none;
        }
        
        .custom-select__menu {
            background-color: white;
            border: 1px solid var(--clr-gray400);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        
        .custom-select__option {
            font-family: "Manrope", sans-serif;
            font-size: 1.2rem;
            padding: 10px;
            color: black;
        }
        
        .custom-select__option--is-focused {
            background-color: darken($clr-white, 8%);
        }
        
        .custom-select__option--is-selected {
            background-color: darken($clr-white, 5%);
            color: black;
        }
        
        .custom-select__single-value {
            color: black;
        }
        
        .custom-select__indicator-separator {
            background-color: transparent;
        }
        
        .custom-select__dropdown-indicator {
            color: var(--clr-gray800);
        }

        #appointmentBtn{
            margin-top: 7rem;
        }
    }
}