.constructionMain{
    @include flex-column;
    height: 100vh;
    padding: 3rem;
    text-align: center;
    h1{
        padding-bottom: 1rem;
        i{
            margin: 0 .5rem;
        }
    }
}
