article.features{
  padding: 0.7rem;
  margin-left: auto;
  margin-right: auto;

  @include tablet-desktop{
    padding-top: 2rem;
    padding-bottom: 4rem;
  }

  @include desktop{
    width: 1320px;
    display: grid;
    justify-content: space-between;
  }
}

.iphone-image-container{
  @include desktop{
    margin-left: 1.5rem;
    margin-right: auto;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }  
}

.appFeatures{

  @include desktop{
    max-width: 746px;
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }

  h2{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    font-size: 28px;

    @include tablet-desktop{
      font-size: 34px;
    }

    @include desktop{
      justify-content: flex-start !important;
    }
  }

  .lorem-text{
    display: flex;
    font-size: 18px;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    max-width: 768px;
    
    @include mobile-tablet{
      text-align: center;
      @include center;
    }
    
    @include tablet{
      margin: 1rem 1.2rem 1.5rem 1.2rem;     
    }
  }
}

.featuresContent{
  @include tablet-desktop{
    display: grid;
    justify-content: center;
    gap: 1rem;
  }

  @include desktop{
    gap: 3rem; 
  }
}

.featuresSection{
  display: grid;
  margin-top: 1rem;
  max-width: 400px;
  margin: 1rem auto;
    
  .img-container-features{
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    margin-right: 0;
    margin-left: auto;

    @include tablet-desktop{
      padding-right: 0.5rem;
    }

    img{
      margin-top: 0;
    }
  }

  h3{
    font-size: 20px;
    grid-column: 2 / 4;
    margin-left: 1rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    margin-right: auto;
  }

  .features-text{
    display: flex;
    font-size: 16px;
    text-align: left;
    margin-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;

    @include tablet-desktop{
      max-width: 250px;
    }
  }
}

@include tablet-desktop{
  #section-1{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  #section-2{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  #section-3{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  #section-4{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  #section-5{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  #section-6{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}