.features2{
    display: grid;
    max-width: 1080px;
    margin: 7rem auto;
    
    h2{
        font-size: 30px;
    }
}

.upperWrapper{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    
    h2{
        margin-top: 100px;
        margin-bottom: 5px;
    }

    ul{
        list-style-type: none;
        padding-left: 0;
        
        li{
            padding: 0.5rem 0;
            color: var(--clr-text-grey);
            
            i{
                color: var(--clr-primary);
                margin-right: 0.5rem;
                margin-left: 0;
            }
        }
    }
}

.learn-more-btn{
    display: flex;
    justify-content: flex-start;
    margin-top: 1.5rem;
    
    span{
        margin-right: 12px;
        margin-left: 18px;
    }
}

#forecast-container{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-end;
}

#contacts-container{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.lowerWrapper{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    gap: 0;
}

.img-container-features{
    height: 60px;
    align-self: flex-end;
    margin-bottom: 1rem;
}

#lower-1{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin-bottom: 0;
    margin-top: 5rem;
}

#lower-2{
    grid-column:  1 / 2;
    grid-row: 2 / 3;
}

#lower-3{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#lower-4{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

#lower-5{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.infoContainer{
    max-width: 240px;
}

#lower-6{
    grid-column: 1 / 3;
    grid-row: 4 / 7;
    height: 42px;
    margin-top: 5px;
    margin-bottom: auto;
}