.navbar{
    display: grid;
    grid-template-columns: 1fr auto auto;
    padding: 1rem;
    padding-bottom: 0;
    @include center;
    justify-items: start;

    @include tablet{
        padding: 0 2rem;
    }
    
    @include desktop{
        max-width: 1320px;
        grid-template-columns: 1fr 1fr 5fr auto auto;
        margin-left: auto;
        margin-right: auto;
    }
}  

.main-logo-container{
    display: flex;
    @include center;
    
    .p-logo{   
        font-weight: 900;
        font-size: 24px;
        color: black;
        margin-left: 8px;
    }
}

#nav-features{
    margin-left: 1.5rem;
}

.hamburger-btn{
    @include mobile-tablet{
        margin-right: .5rem;
    }

    @include  tablet{
        margin-left: 1rem;
    }
}

// .expanded-nav {
//     @include mobile-tablet{
//         padding: 1rem;
//         background-color: transparent;
//         z-index: 100;
//         position: fixed;
//         justify-self: flex-end;
//         grid-column: 2 / 4;
//         grid-row: 2 / 3;
//         margin-top: 220px;
//         transform: translateX(150%);
//         transition: transform 0.4s ease-in-out;
        
//         &.active {
//             background-color: var(--clr-background-light);
//             @include flex-column;
//             transform: translateX(10px);
//         }
//         a{
//             margin-top: 1rem;
//         }
//         .nav-link{
//             display: flex;
//             text-align: center;

//         }
//     }
// }
.expanded-nav {
    @include mobile-tablet{
        position: absolute;
        z-index: 1000;
        @include flex-column;
        justify-self: self-end;
        justify-content: center;
        align-items: center;
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        transform-origin: top;
        transform: scaleY(0);
        transition: transform 0.3s ease-in-out;
        margin-top: 200px;
      
        &.active {
          transform: scaleY(1);
        }
        a{
            margin-top: 1rem;
        }
        .nav-link{
            @include btn;
            color: var( --clr-white);
            width: 100%;
            font-weight: normal;
            font-size: 1rem;
            display: flex;
            text-align: center;
        }
    }
}