@media (prefers-reduced-motion: no-preference){
  :root{
    scroll-behavior: auto;
  }
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font-optical-sizing: auto;
  width: 100%;
  font-style: normal;
  font-size: 16px;
}

input, label, button, textarea, select, span, ul{
  font-family: "Manrope", sans-serif;
}

.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border-width: 0;
}

.displayNone{
  display: none;
}

.u-select-none{
  user-select: none;
}

.visuallyHidden {
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}