@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
:root {
  --clr-primary: hsl(238, 85%, 68%);
  --clr-linear-gradient: linear-gradient(0deg, rgba(99,102,241,0.1) 0%, rgba(218,70,239,0.05) 42%, rgba(241,244,253,0.07) 83%);
  --clr-white: #FFFFFF;
  --clr-white-high-opacity: #ffffffa7;
  --clr-white-opacity: rgba(255, 255, 255, 0.08);
  --clr-white-low-opacity: rgba(255, 255, 255, 0.04);
  --clr-dark900: #0B0F19;
  --clr-dark850: #161b27;
  --clr-dark800: #1c2333;
  --clr-gray800: #33354D;
  --clr-gray700: #565973;
  --clr-gray600: #9397AD;
  --clr-gray400: #D4D7E5;
  --clr-gray300: #E2E5F1;
  --clr-gray-200: #EFF2FC;
  --clr-icon: #3E4265;
  --clr-text-grey: #585C7B;
  --clr-background-light: #F3F6FF;
  --clr-system-error: #EF4444;
  --clr-green: #22C55E;
}

html.dark-mode {
  background-color: var(--clr-dark900);
}

html.dark-mode .wrapperBackgroundColor {
  background-color: var(--clr-dark900);
}

html.dark-mode h1, html.dark-mode h2, html.dark-mode h3, html.dark-mode h4, html.dark-mode h5, html.dark-mode h6, html.dark-mode .p-logo, html.dark-mode .store-btn, html.dark-mode i, html.dark-mode p.author, html.dark-mode label, html.dark-mode input {
  color: var(--clr-white);
}

html.dark-mode .hamburger .bar {
  background-color: var(--clr-white);
}

html.dark-mode p, html.dark-mode .upperWrapper ul li {
  color: var(--clr-white-high-opacity);
}

html.dark-mode .navbar.nav-link {
  color: var(--clr-gray300);
}
html.dark-mode .navbar.nav-link.active {
  color: var(--clr-primary);
}

html.dark-mode button.circle-btn,
html.dark-mode .img-container-features img {
  background-color: var(--clr-white-opacity);
}

html.dark-mode .discover-btn-container .circle-btn i {
  color: var(--clr-white);
}

html.dark-mode .discover-more-text {
  color: var(--clr-white-high-opacity);
}

html.dark-mode .logo-container {
  border: 1px solid var(--clr-white-opacity);
}

html.dark-mode article.testimonials,
html.dark-mode .slider,
html.dark-mode .subscribe-section {
  background-color: var(--clr-white-opacity);
}

html.dark-mode .circle-icon-container,
html.dark-mode .testimonial {
  background-color: var(--clr-white-low-opacity);
}

html.dark-mode .FAQ-item {
  background-color: var(--clr-white-low-opacity);
}

html.dark-mode .FAQ-item.expanded .dropdown-btn i {
  background-color: var(--clr-primary);
}

html.dark-mode .dropdown-btn-container .dropdown-btn span {
  color: var(--clr-white);
}
html.dark-mode .dropdown-btn-container .dropdown-btn i {
  background-color: var(--clr-white-low-opacity);
}

@media (min-width: 1340px) {
  html.dark-mode .contact-container {
    border: 1px solid var(--clr-white-opacity);
  }
}

html.dark-mode .subscribe-form {
  border: none;
}
@media (min-width: 1340px) {
  html.dark-mode .subscribe-form {
    border: 1px solid var(--clr-white-opacity);
    background-color: var(--clr-white-opacity);
  }
}

@media (min-width: 1340px) {
  html.dark-mode #email {
    background-color: transparent;
  }
}

html.dark-mode .store-btn {
  background-color: var(--clr-white);
}

html.dark-mode .wrapper {
  background-color: var(--clr-dark800);
}

html.dark-mode .consultation-form-container, html.dark-mode .discoverExpanded {
  background-color: var(--clr-dark850);
}

html.dark-mode .consultation-form-container input {
  background-color: transparent;
  border: 1px solid var(--clr-white-opacity);
}

html.dark-mode .custom-select-container .custom-select__control {
  background-color: transparent;
  border: 1px solid var(--clr-white-opacity);
}
html.dark-mode .custom-select-container .custom-select__menu {
  background-color: var(--clr-dark850);
  border-color: var(--clr-white-high-opacity);
}
html.dark-mode .custom-select-container .custom-select__option {
  color: var(--clr-white);
  background-color: transparent;
}
html.dark-mode .custom-select-container .custom-select__option--is-focused {
  background-color: #0f121a;
  color: var(--clr-white);
}
html.dark-mode .custom-select-container .custom-select__option--is-selected {
  background-color: #121620;
  color: var(--clr-white);
}
html.dark-mode .custom-select-container .custom-select__single-value {
  color: var(--clr-white);
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: auto;
  }
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-optical-sizing: auto;
  width: 100%;
  font-style: normal;
  font-size: 16px;
}

input, label, button, textarea, select, span, ul {
  font-family: "Manrope", sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.displayNone {
  display: none;
}

.u-select-none {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.primary-btn {
  font-family: "Manrope", sans-serif;
  background-color: var(--clr-primary);
  color: var(--clr-white);
  border-radius: 8px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: all 200ms;
}
.primary-btn:hover, .primary-btn:focus {
  background-color: #5056f1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.315);
}
.primary-btn:active {
  background-color: #393fef;
}

/* Grund-Kod för toggleknapp skriven av ChatGPT */
.dark-mode-toggle {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  margin: 1rem 1.25rem;
}

.darkmode-toggle-text { /* Kod för toggleknapp skriven av ChatGPT */
  color: var(--clr-gray700);
  margin-right: 10px;
}

.toggle-checkbox {
  display: none;
}

.toggle-label { /* Kod för toggleknapp skriven av ChatGPT */
  position: relative;
  width: 60px;
  height: 30px;
  background-color: var(--clr-gray600);
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.toggle-label::after { /* Kod för toggleknapp skriven av ChatGPT */
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  background-color: var(--clr-white);
  border-radius: 50%;
  transition: transform 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.toggle-checkbox:checked + .toggle-label { /* Kod för toggleknapp skriven av ChatGPT */
  background-color: var(--clr-primary);
}

.toggle-checkbox:checked + .toggle-label::after { /* Kod för toggleknapp skriven av ChatGPT */
  transform: translateX(30px);
}

.discover-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.discover-btn-container .circle-btn {
  border-radius: 50%;
  background-color: var(--clr-white);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-decoration: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  width: 44px;
  height: 44px;
  margin-left: auto;
  margin-right: 0;
}
.discover-btn-container .circle-btn:hover {
  transition: all 200ms;
  background-color: #e6e6e6;
}
.discover-btn-container .circle-btn:active {
  background-color: #cccccc;
}
.discover-btn-container .circle-btn i {
  color: var(--clr-icon);
  font-size: 12px;
}
.discover-btn-container span {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 400;
  color: var(--clr-text-grey);
  margin-right: auto;
  margin-left: 1rem;
}
.discover-btn-container.toggled button.circle-btn {
  background-color: var(--clr-primary);
}
.discover-btn-container.toggled button.circle-btn i {
  color: var(--clr-white);
  transition: transform 0.3s ease;
  transform: rotate(180deg);
}

.learn-more-btn {
  width: 160px;
}

#subscribe-btn {
  overflow: hidden;
  width: 100%;
  max-width: 120px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 16px 8px;
}
@media (max-width: 767px) {
  #subscribe-btn {
    padding: 1rem 0.5rem;
  }
}
@media (max-width: 767px) and (max-width: 335px) {
  #subscribe-btn { /* För väldigt små telefoner*/
    padding: 1rem 0px;
  }
}
@media (min-width: 768px) and (max-width: 1339px) {
  #subscribe-btn {
    padding: 0.6rem 2rem;
  }
}
@media (min-width: 1340px) {
  #subscribe-btn {
    padding: 1.2rem 4.5rem;
  }
}

#appointmentBtn {
  font-size: 1.3rem;
}

/* HAMBURGER 2 */
.hamburger {
  margin: 0 auto;
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
}

.hamburger .bar {
  padding: 0;
  width: 30px;
  height: 4px;
  background-color: var(--clr-icon);
  display: block;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  position: absolute;
}

.bar1 {
  top: 0;
}

.bar2,
.bar3 {
  top: 13.5px;
}

.bar3 {
  right: 0;
}

.bar4 {
  bottom: 0;
}

.checkbox2:checked + label > .hamburger2 > .bar1 {
  transform: translateX(40px);
  background-color: transparent;
  overflow: hidden;
}

.checkbox2:checked + label > .hamburger2 > .bar2 {
  transform: rotate(45deg);
  overflow: hidden;
}

.checkbox2:checked + label > .hamburger2 > .bar3 {
  transform: rotate(-45deg);
  overflow: hidden;
}

.checkbox2:checked + label > .hamburger2 > .bar4 {
  transform: translateX(-40px);
  background-color: transparent;
  overflow: hidden;
}

.error-message {
  color: var(--clr-system-error);
  font-size: 12px;
}

.errorPlaceholder {
  margin-bottom: 17px;
}

.subscribe-form {
  background-color: var(--clr-white);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--clr-gray300);
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
}
.subscribe-form label {
  margin: 0 0.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (max-width: 767px) {
  .subscribe-form label {
    border: none;
    max-width: 200px;
  }
}
.subscribe-form label i {
  margin-left: 0.8rem;
}
@media (min-width: 768px) {
  .subscribe-form label i {
    margin-left: 0.5rem;
  }
}
@media (min-width: 1340px) {
  .subscribe-form label i {
    margin-left: 0.5rem;
  }
}
.subscribe-form input {
  margin: 0 0.5rem;
  border: none;
  outline: none;
  overflow: hidden;
  font-size: 14px;
}
@media (min-width: 1340px) {
  .subscribe-form input {
    min-width: 270px;
  }
}

label i.fa-envelope {
  color: var(--clr-gray600);
}

.messageBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.messageBox button {
  width: 25%;
}

.consultation-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-white);
  padding: 2rem 0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
@media (max-width: 767px) {
  .consultation-form-container {
    min-width: 100vw;
  }
}
@media (min-width: 768px) {
  .consultation-form-container {
    transform: translateY(50px);
    grid-column: 2/3;
    grid-row: 2/4;
    padding: 5rem 3rem;
  }
}
.consultation-form-container h2 {
  display: flex;
  font-size: 2rem;
}
@media (max-width: 767px) {
  .consultation-form-container h2 {
    text-align: center;
  }
}
.consultation-form-container form {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .consultation-form-container form {
    width: 80%;
  }
}
@media (min-width: 768px) {
  .consultation-form-container form {
    width: 100%;
  }
}
.consultation-form-container form label {
  font-weight: 600;
  font-size: 1.2em;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
.consultation-form-container form input {
  font-size: 1.3rem;
  padding: 0.7rem;
  border: 1px solid var(--clr-gray400);
  border-radius: 8px;
  outline: none;
}
.consultation-form-container form input:focus, .consultation-form-container form input:active {
  border-color: var(--clr-gray700);
}
.consultation-form-container form .custom-select-container {
  width: 100%;
}
.consultation-form-container form .custom-select__control {
  background-color: white;
  border: 1px solid var(--clr-gray400);
  min-height: 53px;
  border-radius: 8px;
  font-family: "Manrope", sans-serif;
  font-size: 1.2rem;
}
.consultation-form-container form .custom-select__control:focus, .consultation-form-container form .custom-select__control:active {
  border-color: var(--clr-gray700);
}
.consultation-form-container form .custom-select__control--is-focused {
  border: 1px solid var(--clr-gray400);
  box-shadow: none;
}
.consultation-form-container form .custom-select__menu {
  background-color: white;
  border: 1px solid var(--clr-gray400);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.consultation-form-container form .custom-select__option {
  font-family: "Manrope", sans-serif;
  font-size: 1.2rem;
  padding: 10px;
  color: black;
}
.consultation-form-container form .custom-select__option--is-focused {
  background-color: #ebebeb;
}
.consultation-form-container form .custom-select__option--is-selected {
  background-color: #f2f2f2;
  color: black;
}
.consultation-form-container form .custom-select__single-value {
  color: black;
}
.consultation-form-container form .custom-select__indicator-separator {
  background-color: transparent;
}
.consultation-form-container form .custom-select__dropdown-indicator {
  color: var(--clr-gray800);
}
.consultation-form-container form #appointmentBtn {
  margin-top: 7rem;
}

h1, h2, h3, h4, h5, h6, h7, h8 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-optical-sizing: auto;
}

p {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 400;
  color: var(--clr-text-grey);
}

.icon-img {
  border-radius: 0.5rem;
  background-color: var(--clr-background-light);
  padding: 1rem;
}

.nav-link {
  font-family: "Manrope", sans-serif;
  text-decoration: none;
  cursor: pointer;
  color: var(--clr-gray800);
  margin-right: auto;
  font-size: 20px;
  font-weight: 600;
}
.nav-link:link, .nav-link:visited, .nav-link:hover, .nav-link:active {
  text-decoration: none;
}
.nav-link.active {
  color: var(--clr-primary);
  font-weight: 700;
}

.store-btn {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem auto;
  border-radius: 8px;
}
.store-btn img {
  max-width: 100%;
}
@media (max-width: 767px) {
  .store-btn {
    padding: 0.7rem clamp(6rem, 6rem + 1vw, 8rem);
    max-width: 95%;
    overflow: hidden;
  }
}
@media (min-width: 768px) and (max-width: 1339px) {
  .store-btn {
    padding: 0.6rem clamp(1.2rem, 1.2rem + 0vw, 1.5rem);
  }
}
@media (min-width: 1340px) {
  .store-btn {
    padding: 0.6rem 1.7rem;
  }
}

#signin-auth-btn {
  width: 140px;
}
#signin-auth-btn span {
  margin-left: 0.7rem;
}

.pageLink {
  font-family: "Manrope", sans-serif;
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  color: var(--clr-gray600);
}
.pageLink:link, .pageLink:visited, .pageLink:hover, .pageLink:active {
  text-decoration: none;
}

.pageLink.active {
  color: var(--clr-primary);
}

#homepageLink span {
  margin-left: 0.3rem;
  margin-right: 0.8rem;
}

#contactLink {
  margin-left: 0.8rem;
}

.linkActive {
  color: var(--clr-primary);
}

a.linkWithArrow {
  font-family: "Manrope", sans-serif;
  text-decoration: none;
  cursor: pointer;
  color: var(--clr-primary);
  font-weight: 600;
  font-size: 1.2rem;
}
a.linkWithArrow:link, a.linkWithArrow:visited, a.linkWithArrow:hover, a.linkWithArrow:active {
  text-decoration: none;
}
a.linkWithArrow span {
  margin-right: 0.7rem;
}
a.linkWithArrow i {
  color: var(--clr-primary);
}

.externalLinksContainer {
  display: flex;
  gap: 1rem;
}
.externalLinksContainer a {
  font-family: "Manrope", sans-serif;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-gray-200);
  height: 44px;
  width: 44px;
  border-radius: 8px;
}
.externalLinksContainer a:link, .externalLinksContainer a:visited, .externalLinksContainer a:hover, .externalLinksContainer a:active {
  text-decoration: none;
}
.externalLinksContainer a i {
  color: var(--clr-gray800);
}

.gradient-wrapper {
  background: var(--clr-linear-gradient);
}

.indexMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.indexMain p {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 400;
  color: var(--clr-text-grey);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapperBackgroundColor {
  display: grid;
  width: 100%;
  background-color: var(--clr-background-light);
}

.navbar {
  display: grid;
  grid-template-columns: 1fr auto auto;
  padding: 1rem;
  padding-bottom: 0;
  justify-content: center;
  align-items: center;
  justify-items: start;
}
@media (min-width: 768px) and (max-width: 1339px) {
  .navbar {
    padding: 0 2rem;
  }
}
@media (min-width: 1340px) {
  .navbar {
    max-width: 1320px;
    grid-template-columns: 1fr 1fr 5fr auto auto;
    margin-left: auto;
    margin-right: auto;
  }
}

.main-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-logo-container .p-logo {
  font-weight: 900;
  font-size: 24px;
  color: black;
  margin-left: 8px;
}

#nav-features {
  margin-left: 1.5rem;
}

@media (min-width: 0px) and (max-width: 1339px) {
  .hamburger-btn {
    margin-right: 0.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1339px) {
  .hamburger-btn {
    margin-left: 1rem;
  }
}

@media (min-width: 0px) and (max-width: 1339px) {
  .expanded-nav {
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-self: self-end;
    justify-content: center;
    align-items: center;
    grid-column: 2/4;
    grid-row: 2/3;
    transform-origin: top;
    transform: scaleY(0);
    transition: transform 0.3s ease-in-out;
    margin-top: 200px;
  }
  .expanded-nav.active {
    transform: scaleY(1);
  }
  .expanded-nav a {
    margin-top: 1rem;
  }
  .expanded-nav .nav-link {
    font-family: "Manrope", sans-serif;
    background-color: var(--clr-primary);
    color: var(--clr-white);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    cursor: pointer;
    transition: all 200ms;
    color: var(--clr-white);
    width: 100%;
    font-weight: normal;
    font-size: 1rem;
    display: flex;
    text-align: center;
  }
  .expanded-nav .nav-link:hover, .expanded-nav .nav-link:focus {
    background-color: #5056f1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.315);
  }
  .expanded-nav .nav-link:active {
    background-color: #393fef;
  }
}

.showcase {
  display: grid;
}
@media (min-width: 768px) {
  .showcase {
    max-width: 100%;
    padding: 0 1.8rem;
    margin: 0 auto;
  }
}
@media (min-width: 1340px) {
  .showcase {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
    gap: 1rem;
  }
}
.showcase p {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 400;
  color: var(--clr-text-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 0.5rem;
  padding-bottom: 1rem;
  text-align: center;
}
@media (min-width: 768px) {
  .showcase p {
    padding: 0;
    grid-column: 1/3;
    grid-row: 3/5;
    margin-top: 0;
    text-align: start;
    margin-bottom: 2rem;
    max-width: 100%;
  }
}
@media (min-width: 1340px) {
  .showcase p {
    grid-column: 1/3;
    grid-row: 2/3;
    padding-top: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1339px) {
  .h1-container {
    grid-column: 1/8;
    grid-row: 1/2;
    margin: 0 auto;
  }
}
@media (min-width: 1340px) {
  .h1-container {
    grid-column: 1/4;
    grid-row: 1/2;
    margin-right: auto;
    margin-left: 0;
    padding-top: 1.5rem;
    max-width: 500px;
  }
}
.h1-container h1 {
  padding: 0 var(--base-padding);
  margin: 0.5rem auto;
  font-size: 40px;
}
@media (min-width: 0px) and (max-width: 1339px) {
  .h1-container h1 {
    display: flex;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1339px) {
  .h1-container h1 {
    max-width: 450px;
    padding-bottom: 1rem;
  }
}
@media (min-width: 1340px) {
  .h1-container h1 {
    font-size: 52px;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  #appstore {
    grid-column: 1/2;
    grid-row: 5/6;
  }
}
@media (min-width: 1340px) {
  #appstore {
    grid-column: 1/2;
    grid-row: 3/5;
  }
}

@media (min-width: 768px) and (max-width: 1339px) {
  #googleplay {
    margin-left: 1rem;
  }
}
@media (min-width: 768px) {
  #googleplay {
    grid-column: 2/3;
    grid-row: 5/6;
  }
}
@media (min-width: 1340px) {
  #googleplay {
    grid-column: 2/4;
    grid-row: 3/5;
    margin-left: 0.5rem;
  }
}

@media (min-width: 768px) {
  .discoverMoreContainer {
    padding: 2rem 0;
    grid-column: 1/3;
    grid-row: 6/8;
    margin-right: auto;
    margin-left: 0;
    max-width: 100%;
  }
}
@media (min-width: 1340px) {
  .discoverMoreContainer {
    grid-column: 1/2;
    grid-row: 6/7;
    margin-top: auto;
    margin-bottom: 2.5rem;
  }
}

.discoverExpanded {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1000;
  transform: scaleY(0);
  transition: transform 0.3s ease-in-out;
  background-color: white;
}
.discoverExpanded.toggled {
  transform: scaleY(1);
}
@media (min-width: 768px) {
  .discoverExpanded {
    max-width: 450px;
  }
}
.discoverExpanded p {
  padding: 1rem;
  padding-bottom: 0;
}
.discoverExpanded a {
  margin: 1rem;
  margin-top: 0;
}

@media (min-width: 768px) {
  .imageContainer {
    display: block;
    grid-column: 3/8;
    grid-row: 2/8;
    width: 100%;
  }
  .imageContainer img {
    max-width: 100%;
  }
}
@media (min-width: 1340px) {
  .imageContainer {
    grid-column: 4/8;
    grid-row: 1/7;
  }
}

@media (min-width: 768px) {
  .all-logos-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2rem;
    gap: 1.5rem;
    margin: 0.5rem auto;
  }
}
@media (min-width: 1340px) {
  .all-logos-container {
    max-width: 1320px;
    padding: 3rem 0;
    padding-top: 4rem;
    gap: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1339px) {
  #logoipsum-5,
  #logoipsum-6 {
    display: none;
  }
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--clr-gray300);
  border-radius: 8px;
  height: 90px;
  width: 160px;
  gap: 1rem;
}
@media (min-width: 1340px) {
  .logo-container {
    height: 100px;
    width: 200px;
  }
}

article.features {
  padding: 0.7rem;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  article.features {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
}
@media (min-width: 1340px) {
  article.features {
    width: 1320px;
    display: grid;
    justify-content: space-between;
  }
}

@media (min-width: 1340px) {
  .iphone-image-container {
    margin-left: 1.5rem;
    margin-right: auto;
    grid-column: 1/2;
    grid-row: 1/4;
  }
}

@media (min-width: 1340px) {
  .appFeatures {
    max-width: 746px;
    grid-column: 2/3;
    grid-row: 1/4;
  }
}
.appFeatures h2 {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  font-size: 28px;
}
@media (min-width: 768px) {
  .appFeatures h2 {
    font-size: 34px;
  }
}
@media (min-width: 1340px) {
  .appFeatures h2 {
    justify-content: flex-start !important;
  }
}
.appFeatures .lorem-text {
  display: flex;
  font-size: 18px;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  max-width: 768px;
}
@media (min-width: 0px) and (max-width: 1339px) {
  .appFeatures .lorem-text {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 1339px) {
  .appFeatures .lorem-text {
    margin: 1rem 1.2rem 1.5rem 1.2rem;
  }
}

@media (min-width: 768px) {
  .featuresContent {
    display: grid;
    justify-content: center;
    gap: 1rem;
  }
}
@media (min-width: 1340px) {
  .featuresContent {
    gap: 3rem;
  }
}

.featuresSection {
  display: grid;
  margin-top: 1rem;
  max-width: 400px;
  margin: 1rem auto;
}
.featuresSection .img-container-features {
  grid-column: 1/2;
  grid-row: 1/4;
  margin-right: 0;
  margin-left: auto;
}
@media (min-width: 768px) {
  .featuresSection .img-container-features {
    padding-right: 0.5rem;
  }
}
.featuresSection .img-container-features img {
  margin-top: 0;
}
.featuresSection h3 {
  font-size: 20px;
  grid-column: 2/4;
  margin-left: 1rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  margin-right: auto;
}
.featuresSection .features-text {
  display: flex;
  font-size: 16px;
  text-align: left;
  margin-left: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .featuresSection .features-text {
    max-width: 250px;
  }
}

@media (min-width: 768px) {
  #section-1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #section-2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  #section-3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #section-4 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  #section-5 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  #section-6 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
.slider {
  width: 100%;
  background-color: var(--clr-background-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
}
.slider h2 {
  font-size: 1.7rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
@media (min-width: 1340px) {
  .slider h2 {
    font-size: 2.4rem;
  }
}
@media (min-width: 768px) and (max-width: 1339px) {
  .slider div.tablet-only {
    width: 80%;
  }
  .slider div.tablet-only img {
    width: 100%;
    justify-self: center;
  }
}
.slider h3 {
  text-align: center;
}
.slider h3.mobile-only {
  max-width: 260px;
  font-size: 1.3rem;
}
.slider h3.tablet-only {
  max-width: 320px;
}
.slider h3.desktop-only {
  font-size: 1.4rem;
}
.slider .p-mobile-tablet {
  padding-bottom: 2rem;
}
@media (max-width: 767px) {
  .slider .p-mobile-tablet {
    max-width: 370px;
  }
}
@media (min-width: 768px) and (max-width: 1339px) {
  .slider .p-mobile-tablet {
    max-width: 440px;
  }
}
.slider p.desktop-only {
  max-width: 680px;
  padding-bottom: 3rem;
}
.slider p {
  text-align: center;
}

.features2 {
  display: grid;
  max-width: 1080px;
  margin: 7rem auto;
}
.features2 h2 {
  font-size: 30px;
}

.upperWrapper {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
}
.upperWrapper h2 {
  margin-top: 100px;
  margin-bottom: 5px;
}
.upperWrapper ul {
  list-style-type: none;
  padding-left: 0;
}
.upperWrapper ul li {
  padding: 0.5rem 0;
  color: var(--clr-text-grey);
}
.upperWrapper ul li i {
  color: var(--clr-primary);
  margin-right: 0.5rem;
  margin-left: 0;
}

.learn-more-btn {
  display: flex;
  justify-content: flex-start;
  margin-top: 1.5rem;
}
.learn-more-btn span {
  margin-right: 12px;
  margin-left: 18px;
}

#forecast-container {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  justify-content: flex-end;
}

#contacts-container {
  grid-column: 1/2;
  grid-row: 2/3;
}

.lowerWrapper {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  gap: 0;
}

.img-container-features {
  height: 60px;
  align-self: flex-end;
  margin-bottom: 1rem;
}

#lower-1 {
  grid-column: 1/3;
  grid-row: 1/2;
  margin-bottom: 0;
  margin-top: 5rem;
}

#lower-2 {
  grid-column: 1/2;
  grid-row: 2/3;
}

#lower-3 {
  grid-column: 2/3;
  grid-row: 2/3;
}

#lower-4 {
  grid-column: 1/2;
  grid-row: 3/4;
}

#lower-5 {
  grid-column: 2/3;
  grid-row: 3/4;
}

.infoContainer {
  max-width: 240px;
}

#lower-6 {
  grid-column: 1/3;
  grid-row: 4/7;
  height: 42px;
  margin-top: 5px;
  margin-bottom: auto;
}

.testimonials {
  width: 100%;
  background-color: var(--clr-background-light);
  padding: 5rem 0;
}

.testimonials-wrapper {
  max-width: 1320px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
}
.testimonials-wrapper h2 {
  font-size: 34px;
  align-self: flex-start;
  margin-right: 5rem;
}

.testimonial {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 420px;
  border-radius: 8px;
  padding: 1.5rem;
  background-color: var(--clr-white);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.testimonial .quote {
  grid-column: 2 span/3;
  grid-row: 1/2;
  transform: translateX(-10px) translateY(-55px);
  z-index: 10;
}
.testimonial .ratingsContainer {
  display: flex;
  align-items: center;
  grid-column: 1/2;
  grid-row: 1/2;
  gap: 0.2rem;
  padding-top: 0.5rem;
}
.testimonial .customerComment {
  word-spacing: 0.1rem;
  line-height: 1.7rem;
  font-size: 18px;
  grid-column: 1/4;
  grid-row: 3/4;
  padding-bottom: 1.7rem;
}
.testimonial .avatarImageContainer {
  grid-column: 1/2;
  grid-row: 4/6;
  padding-bottom: 0.2rem;
}
.testimonial .author {
  transform: translateX(-20px);
  color: black;
  font-weight: bold;
  grid-column: 2/3;
  grid-row: 4/5;
}
.testimonial .jobRole {
  transform: translateX(-20px);
  font-size: 0.8rem;
  grid-column: 2/3;
  grid-row: 5/6;
}

.FAQ-contact-section {
  display: grid;
  align-items: center;
  max-width: 746px;
  margin: 0 auto;
}
@media (min-width: 1340px) {
  .FAQ-contact-section {
    max-width: 1320px;
    padding: 6rem 1rem;
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  gap: 1rem;
}
@media (min-width: 1340px) {
  .text-container {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-right: 8.5rem;
    padding-top: 0;
    padding-left: 0;
  }
}
@media (min-width: 1340px) {
  .text-container h2 {
    display: flex;
    text-align: start;
  }
}
@media (min-width: 1340px) {
  .text-container p {
    display: flex;
    text-align: start;
  }
}

.FAQ-items-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border-radius: 8px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.034);
  gap: 1rem;
}
@media (min-width: 1340px) {
  .FAQ-items-container {
    grid-column: 2/4;
    grid-row: 1/4;
  }
}

.FAQ-item {
  border: none;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.151);
  border-radius: 8px;
}
.FAQ-item p {
  margin: 0 0.5rem;
  margin-bottom: 1rem;
  font-size: 14px;
}

.FAQ-answer { /* Grund-kod från Chat-GPT*/
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in;
}

.FAQ-item.expanded .FAQ-answer { /* Kod från Chat-GPT*/
  max-height: 150px;
  border-radius: 8px;
}

.dropdown-btn-container {
  display: flex;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.dropdown-btn-container .dropdown-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 74px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}
.dropdown-btn-container .dropdown-btn span {
  font-weight: 600;
  font-size: 1rem;
  margin-left: 0.4rem;
  text-align: start;
}
.dropdown-btn-container .dropdown-btn i {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--clr-background-light);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  line-height: 4px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.082);
  margin-right: 0.4rem;
  margin-left: 5px;
  flex-shrink: 0;
}

.FAQ-item.expanded .dropdown-btn i { /* Grund-kod skriven av ChatGPT */
  color: var(--clr-white);
  background-color: var(--clr-primary);
  transition: transform 0.3s ease;
  transform: rotate(180deg);
}

@media (min-width: 768px) {
  .contact-us-container {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
  }
}
@media (min-width: 1340px) {
  .contact-us-container {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-right: 7.5rem;
    max-width: 400px;
  }
}
@media (min-width: 768px) {
  .contact-us-container .contact-container {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--clr-gray300);
    border-radius: 8px;
    padding: 1rem;
    width: 46%;
    height: 166px;
  }
  .contact-us-container .contact-container .fa-phone-volume {
    color: var(--clr-primary);
    transform: rotate(330deg);
    font-size: 1.45rem;
    width: 24px;
    margin: 0.5rem 0 1rem 0.5rem;
  }
  .contact-us-container .contact-container .fa-comment-dots {
    color: var(--clr-green);
    font-size: 1.5rem;
    width: 24px;
    margin: 0.5rem 0 1rem 0.3rem;
    justify-self: flex-start;
  }
  .contact-us-container .contact-container p {
    margin-top: 0.5rem;
    margin-bottom: 1.3rem;
    font-size: 14px;
  }
  .contact-us-container .contact-container a {
    text-decoration: none;
  }
  .contact-us-container .contact-container a span {
    margin-right: 0.5rem;
  }
  .contact-us-container .contact-container .green {
    color: var(--clr-green);
  }
  .contact-us-container .contact-container .green i {
    color: var(--clr-green);
  }
  .contact-us-container .contact-container .purple {
    color: var(--clr-primary);
  }
  .contact-us-container .contact-container .purple i {
    color: var(--clr-primary);
  }
}

#contact-us-btn {
  margin: 2rem auto;
  width: 163px;
  height: 49px;
  font-size: medium;
}

.subscribe-section {
  display: grid;
  max-width: 95%;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-background-light);
  margin: 0 auto;
  border-radius: 8px;
  justify-items: center;
}
@media (max-width: 767px) {
  .subscribe-section {
    padding: 2rem 0;
  }
  .subscribe-section h2.mobile-tablet-only {
    grid-column: 2/2;
    grid-row: 1/2;
    margin-right: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1339px) {
  .subscribe-section {
    height: 220px;
  }
}
@media (min-width: 768px) {
  .subscribe-section {
    display: flex;
    justify-content: space-around;
    justify-self: center;
    margin: 1.5rem;
    max-width: 768px;
  }
  .subscribe-section h2.mobile-tablet-only {
    max-width: 13rem;
    margin: 0;
  }
}
@media (min-width: 1340px) {
  .subscribe-section {
    min-width: 1290px;
    height: 14rem;
    border-radius: 12px;
  }
  .subscribe-section h2.desktop-only {
    max-width: 500px;
  }
}

.bell-container {
  width: 78px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin: 1rem;
}
.bell-container img {
  width: 100%;
}
@media (max-width: 767px) {
  .bell-container {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
@media (min-width: 1340px) {
  .bell-container {
    margin-left: auto;
    margin-right: 2rem;
  }
}

.subscribe-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-bottom: 1rem;
  background-color: transparent;
}
@media (max-width: 767px) {
  .subscribe-form-container {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}
@media (min-width: 768px) {
  .subscribe-form-container {
    margin-right: 1rem;
    margin-bottom: 0;
  }
}
@media (min-width: 1340px) {
  .subscribe-form-container {
    margin-right: auto;
  }
}
.subscribe-form-container .error-message {
  margin-left: 3rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: var(--clr-gray600);
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 5px;
}
@media (max-width: 767px) {
  footer p {
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 768px) {
  footer {
    margin: 0;
    display: flex;
    flex-direction: row;
  }
}

.contactMain {
  padding-top: 3rem;
  gap: 2rem;
  align-items: center;
  justify-self: center;
}
@media (min-width: 0px) and (max-width: 1339px) {
  .contactMain {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}
@media (min-width: 1340px) {
  .contactMain {
    width: 1320px;
    display: grid;
  }
}
.contactMain .messageBox {
  padding: 4rem;
}

@media (min-width: 1340px) {
  .pageHighlight {
    display: flex;
    align-items: baseline;
    grid-column: 1/3;
    grid-row: 1/2;
    padding-left: 1rem;
  }
}
.pageHighlight i.fa-angles-right {
  margin-right: 0.7rem;
}

.fa-angles-right {
  justify-self: center;
  font-size: 12px;
  color: var(--clr-gray600);
}

.ContactUsContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (max-width: 767px) {
  .ContactUsContainer {
    padding: 3rem 0;
  }
}
@media (min-width: 768px) and (max-width: 1339px) {
  .ContactUsContainer {
    display: grid;
    gap: 1rem;
  }
  .ContactUsContainer h1 {
    text-align: center;
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .ContactUsContainer #i-c-g-1 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .ContactUsContainer #i-c-g-2 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
@media (min-width: 1340px) {
  .ContactUsContainer {
    padding-left: 1rem;
    padding-bottom: 3rem;
    gap: 3rem;
    grid-column: 1/2;
    grid-row: 2/4;
  }
}

.ContactPageH1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .ContactPageH1 {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .ContactPageH1 {
    font-size: 2.8em;
  }
}

.inner-container {
  display: grid;
  gap: 1rem;
  justify-content: start;
}
.inner-container .circle-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--clr-white);
}
@media (min-width: 1340px) {
  .inner-container .circle-icon-container {
    grid-column: 1/2;
    grid-row: 1/4;
  }
}
.inner-container .circle-icon-container i {
  font-size: 26px;
  color: var(--clr-primary);
}
.inner-container h2 {
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 1.8em;
}
.inner-container p {
  max-width: 20rem;
  grid-column: 2/3;
  grid-row: 2/3;
}
.inner-container .linkWithArrow {
  grid-column: 2/3;
  grid-row: 3/4;
}

.mapSection {
  display: flex;
  flex-direction: column;
  padding: 2rem 0.8rem;
}
@media (min-width: 768px) {
  .mapSection {
    padding: 8rem 0;
  }
}
@media (min-width: 1340px) {
  .mapSection {
    gap: 7rem;
    flex-direction: row;
  }
}

.mapContainer {
  display: flex;
  overflow: hidden;
  width: 38rem;
}
@media (min-width: 768px) and (max-width: 1339px) {
  .mapContainer {
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 3rem;
  }
}

iframe {
  margin-top: -50px;
  width: 100%;
  overflow: hidden;
  border: 0;
}

@media (min-width: 768px) and (max-width: 1339px) {
  .adressesContainer {
    display: grid;
    gap: 2rem;
  }
  .adressesContainer #adress-c-g-1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .adressesContainer #adress-c-g-2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .adressesContainer .externalLinksContainer {
    grid-column: 1/4;
    grid-row: 2/3;
  }
}

.adressContainer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-bottom: 1.5rem;
}
.adressContainer h3 {
  padding: 1rem 0;
}

.adress {
  display: flex;
  align-items: center;
}
.adress i.fa-location-dot {
  color: var(--clr-primary);
  margin: 0.5em;
  margin-left: 0;
}

.phoneNumber {
  display: flex;
  align-items: center;
}
.phoneNumber i.fa-phone-volume {
  color: var(--clr-primary);
  transform: rotate(330deg);
  margin: 0.5em;
  margin-left: 0;
}

.openHours {
  display: grid;
  justify-content: start;
}
.openHours i.fa-clock {
  color: var(--clr-primary);
  margin: 0.5em;
  margin-left: 0;
  grid-column: 1/2;
  grid-row: 1/3;
}
.openHours h4 {
  grid-column: 2/3;
}
.openHours p {
  grid-column: 3/4;
}

@media (min-width: 0px) and (max-width: 1339px) {
  .externalLinksContainer {
    justify-content: center;
  }
}

.constructionMain {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 3rem;
  text-align: center;
}
.constructionMain h1 {
  padding-bottom: 1rem;
}
.constructionMain h1 i {
  margin: 0 0.5rem;
}

@media (max-width: 767px) {
  .all-logos-container,
  .imageContainer,
  .darkmode-toggle-text,
  .tablet-desktop-only,
  .tablet-only,
  .hide-for-mobile {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 1339px) {
  .desktop-only,
  .iphone-image-container {
    display: none;
  }
}
@media (min-width: 768px) {
  .mobile-only,
  div.externalLinksContainer a.mobile-only {
    display: none;
  }
}
@media (min-width: 1340px) {
  .mobile-tablet-only,
  .tablet-only {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */